[Unit]
Description=Shell Server Service
After=network.target

[Service]
ExecStart=/bin/shellserver
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target

